.App {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html, body, #root {
  height: 100%;
  margin: 0;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topBar{
  background-color: rgb(0, 21, 105);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topBar button{
  height: 35px;
  padding: 0;
  color: white;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(158, 158, 158);
  margin: 0;
  cursor: pointer;
}


.topBar input{
  min-height: 35px;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  padding-left: 5px;
}

.inRoomBar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.inRoomBar input{
  width: 300px;
}

.inRoomBar > div:nth-of-type(2) {
  margin-left: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.messageBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 90vh;
  align-items: left;
}

.textBox{
  display: flex;
  align-items: right;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.outRoomBar{
  display: flex;
  flex-direction: row;
}

.user{
  font-weight: bold;
}
